<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Contact List Test Suite">
    <test name="All Contact Tests">
        <classes>
            <class name="tests.ContactTest"/>
            <class name="tests.InvalidLoginTest"/>
            <class name="tests.InvalidAddContactTest"/>
        </classes>
    </test>
</suite>
